@page
@model EditDrivesModel
@{
    ViewData["Title"] = "Edit Drives";
}


@using (Html.BeginForm())
{
    <table>
    @for (var i = 0; i < Model.drives.Count; i++)
    {
        @Html.HiddenFor(x => x.drives[i].Id);
        
            <tr>
                <td>
                    @Html.HiddenFor(it => it.drives[i].Id)
                    @Html.EditorFor(it => it.drives[i].DriveLetter)
                    @Html.EditorFor(it => it.drives[i].DriveName)
                </td>
                <td>
                   @* @Html.CheckBoxFor(it => it.drives[i].IsChecked, new { Style = "vertical-align:3px}" })*@
                </td>
            </tr>
        
    }
    </table>
}
