@page
@using RequestForm.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    Drives:
</div>
<div>
    <form method="post">
        @foreach (Drive x in Model.employeeInfo.Drives)
        {
            <input asp-for"x.IsChecked" type="checkbox" id="drive:@x.Id" name="drive_checked" value="@x.DriveLetter @x.DriveName" />
            <label asp-for"x.IsChecked">@x.DriveLetter : @x.DriveName</label>
            <br />
        }
        <br />
        <div>Software</div>
        <div>
            @foreach (Software y in Model.employeeInfo.Softwares)
            {
                <input type="checkbox" id="software:@y.Id" name="software_checked" value="@y.SoftwareName" action=""/>
                <label for="software:@y.Id">@y.SoftwareName</label>
                <br />
            }
        </div>
        <div id="submitButton">
            <br />
            <input type="submit" value="Submit" />
        </div>
    </form>
    
</div>

